<h1><%= pluralize(@movies.size, "Movie") %></h1>
<% @movies.each do |movie| %>
  <h2><%= movie.title %></h2>
  <p><%= truncate(movie.description, length: 40, separator: ' ') %></p>
  <table>
    <tr>
      <th>Rating</th>
      <td><%= movie.rating %></td>
    </tr>
    <tr>
      <th>Total Gross</th>
      <td><%= number_to_currency(movie.total_gross) %></td>
    </tr>
    <tr>
      <th>Release Date</th>
      <td><%= movie.released_on %></td>
    </tr>
  </table>
<% end %>
